@use "base.scss";
@use "colors.scss" as c;

@mixin input($width, $height) {
	width: $width;
	height: $height;
	border-radius: 8px 0 0 8px;
	background-color: rgba(142, 142, 152, 0.2);
	padding: 10px 15px;
	border: none;
}
%flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin button-input($width, $height) {
	@extend %flex-center;
	width: $width;
	height: $height;
	background-color: c.$color-gray;
	color: c.$color-white;
	border: none;
	border-radius: 0 8px 8px 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	cursor: pointer;
	justify-content: center;
}
@mixin title-style($color: c.$color-gray) {
	font-weight: 400;
	font-size: 32px;
	color: $color;
	line-height: 40px;
}
@mixin text-style($size: 15px, $line-height: 22.4px) {
	font-family: Roboto;
	font-weight: 400;
	font-size: $size;
	line-height: $line-height;
	letter-spacing: 0%;
}
.header {
	display: flex;
	flex-direction: row-reverse;
	margin-right: 215px;
	margin-top: 20px;
	padding-bottom: 20px;
	background-color: c.$color-black;

	.nav {
		@extend %flex-center;
		gap: 20px;

		&__list {
			display: flex;
			gap: 20px;
			li {
				list-style: none;
			}
			a {
				text-decoration: none;
				color: c.$color-light-gray;
				font-size: 14px;
				line-height: 24px;
			}
		}
	}
	.header__btn {
		width: 101px;
		height: 36px;
		border-radius: 6px;
		background-color: c.$color-gray;
		color: c.$color-black;
		border: none;
	}
}
.first-screen {
	padding-top: 160px;
	padding-left: 216px;

	&__top {
		@extend %flex-center;
		justify-content: flex-start;
		gap: 8px;
		.brand {
			color: c.$color-white;
			font-size: 22px;
			font-weight: 400;
			line-height: 30.8px;
		}
		.tag {
			@extend %flex-center;
			justify-content: center;
			background-color: c.$color-purple;
			color: c.$color-black;
			font-size: 12px;
			line-height: 12px;
			font-weight: 400;
			width: 80px;
			height: 20px;
			border: 1px solid c.$color-purple;
			border-radius: 4px;
			cursor: pointer;
		}
	}
	&__title {
		font-weight: 400;
		font-size: 112px;
		line-height: 112px;
		letter-spacing: 1.12px;
		color: c.$color-white;
	}
	&__form {
		margin-top: 216px;
		display: flex;
		.first-screen__input {
			@include input(348px, 50px);
		}
		.first-screen__btn {
			@include button-input(105px, 50px);
		}
	}
	&__note {
		margin-top: 16px;
		color: c.$color-gray;
		strong {
			color: c.$color-light-gray;
		}
	}
}
.cookie {
	display: flex;
	justify-content: center;
	margin-top: 122px;
	margin-bottom: 40px;
	position: relative;
	&__wrapper {
		background-color: c.$color-light-gray;
		border-radius: 6px;
		width: 411px;
		height: 30px;
		text-align: center;
		padding: 8px 16px;
		p {
			font-size: 13px;
		}
		a {
			text-decoration: none;
			color: rgba(0, 0, 0, 0.65);
		}
	}
}
.chat-btn {
	@extend %flex-center;
	position: absolute;
	bottom: 1px;
	right: 20px;
	width: 60px;
	height: 60px;
	background-color: c.$color-gray;

	border: none;
	cursor: pointer;
	i {
		font-size: 26px;
	}
}
.grid {
	margin-right: 16px;
	margin-left: 16px;
	background-color: rgba(50, 50, 53, 1);

	&__header {
		padding: 3px;
		margin-left: 13px;

		span {
			width: 14px;
			display: inline-block;
			height: 14px;
			background-color: rgba(36, 36, 38, 1);
			border-radius: 2px;
		}
	}
	&__container {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: 195px 612px;
		background-color: rgba(36, 36, 39, 1);
		gap: 16px;
		justify-content: center;
		padding: 16px;
	}
	.grid-item__green {
		@extend %flex-center;
		background-color: rgba(37, 225, 151, 1);
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		border-radius: 4px;
	}
	.grid-item__yellow {
		@extend %flex-center;
		background-color: rgba(255, 210, 51, 1);
		grid-column: 2 / 4;
		grid-row: 1 / 2;
		border-radius: 4px;
	}
	.grid-item__purple {
		@extend %flex-center;
		background-color: rgba(121, 46, 255, 1);
		grid-column: 1 / 3;
		grid-row: 2 / 3;
		border-radius: 4px;
	}
	.grid-item__gray {
		@extend %flex-center;
		background-color: rgba(196, 196, 200, 1);
		grid-column: 3 / 4;
		grid-row: 2 / 3;
		border-radius: 4px;
	}
}
.description {
	display: flex;
	justify-content: center;
	&__container {
		max-width: 1024px;
		margin-top: 250px;
		h2 {
			@include title-style(c.$color-white);
			padding-bottom: 10px;
		}
		p {
			@include title-style(c.$color-light-gray);
		}
	}
	.description__text {
		margin-top: 33px;
		@include text-style(14px, 21px);
		width: 316px;
	}
	.description__info {
		a {
			@include text-style(13px, 21px);
			color: rgba(25, 108, 250, 1);
		}
	}
}
.features {
	margin-top: 192px;
	display: flex;
	justify-content: center;
	&__container {
		display: flex;
		max-width: 1024px;
		gap: 16px;
	}
	&__card {
		background-color: c.$color-dark-gray;
		flex-direction: column;
		justify-content: space-between;
		width: 496px;
		height: 661px;
		gap: 16px;
		border-radius: 8px;
	}
	&__title {
		@include text-style(18px, 25.2px);
		color: c.$color-light-gray;
		margin-top: 12px;
		h1 {
			@include title-style(c.$color-white);
		}
	}
	&__info {
		margin-top: 28px;
		margin-bottom: 82px;
		@include title-style(c.$color-light-gray);
		p {
			@include text-style(14px, 22.4px);
		}
	}
	&__content {
		padding: 40px;
	}
	&__icons {
		gap: 24px;
		@extend %flex-center;
	}
	.features__info-second {
		margin-bottom: 32px;
		@include text-style(14px, 22.4px);
		color: c.$color-light-gray;
	}
}
.hero-text {
	display: flex;
	justify-content: center;
	margin-right: 120px;
	margin-top: 186px;
	&__container {
		max-width: 945px;
		text-align: center;
	}
	&__title {
		@include text-style(96px, 96px);
		color: c.$color-white;
		text-align: start;
	}
}

.hood {
	padding: 70px 0;
	&__container {
		width: 1000px;
		margin: 0 auto;
	}

	&__title {
		@include title-style(c.$color-white);
	}

	&__subtitle {
		@include title-style(c.$color-light-gray);
		margin-top: 15px;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 16px;
	}

	&__card {
		border-radius: 10px;
		background-color: c.$color-dark-gray;
		padding: 18px 18px 22px;
		height: 153px;
		width: 240px;
		display: grid;
	}

	&__card-icon {
		img {
			width: 42px;
			height: 42px;
		}
	}

	&__card-title {
		@include text-style(14px, 21px);
		color: c.$color-white;
	}

	&__card-text {
		@include text-style(14px, 21px);
		color: c.$color-light-gray;
		margin-top: 7px;
	}
}
.blog {
	&__container {
		padding-top: 150px;
		width: 1000px;
		margin: 0 auto;
	}
	&__headline {
		display: flex;
		text-align: center;
		gap: 15px;
		h2 {
			@include title-style(c.$color-white);
		}
		p {
			@include text-style(32px, 40px);
			color: c.$color-light-gray;
		}
	}
	&__image {
		padding-top: 32px;
		img {
			padding-right: 5px;
		}
	}
	&__btn {
		padding-top: 30px;
		button {
			@include button-input(71px, 36px);
			border-radius: 6px;
			background-color: c.$color-light-gray;
			color: c.$color-black;
			align-items: center;
		}
	}
}
.footer {
	padding-top: 220px;

	&__container {
		max-width: 1000px;
		height: 293px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	&__subscribe {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 130px;
	}
	&__form {
		display: flex;
		.footer__input {
			@include input(310px, 50px);
		}
		.footer__btn {
			@include button-input(100px, 50px);
		}
	}

	&__note {
		margin-top: 16px;
		color: c.$color-gray;
		strong {
			color: c.$color-light-gray;
		}
	}
	&__nav {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 80px;
	}

	&__column {
		display: flex;
		flex-direction: column;

		h2 {
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;
			margin-bottom: 15px;
			color: c.$color-light-gray;
		}
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			font-weight: 400;
			font-size: 14px;
			line-height: 22.4px;
		}
		a {
			color: rgba(85, 85, 91, 1);
			text-decoration: none;
		}
	}

	&__item {
		margin-bottom: 10px;

		button {
			border-radius: 8px;
			background-color: rgba(245, 59, 59, 1);
			color: black;
			border: none;
		}

		&__link {
			font-size: 14px;
		}
	}
}
